:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

  /* Light mode colors */
  --theme: #fbf1c7;
  --entry: #f9f5d7;
  --primary: #3c3836;
  --secondary: #7c6f64;
  --tertiary: #bdae93;
  --content: #282828;
  --code-block-bg: #3c3836;
  --code-bg: #f7eab6;
  --border: #d5c4a1;
}

.dark {
  /* Dark mode colors */
  --theme: #282828;
  --entry: #3c3836;
  --primary: #fbf1c7;
  --secondary: #bdae93;
  --tertiary: #665c54;
  --content: #ebdbb2;
  --code-block-bg: #3c3836;
  --code-bg: #504945;
  --border: #504945;
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}