:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

/* Light mode colors */
--theme: #D9E0EE; /* Light crust */
--entry: #F2D5CF; /* Manix */
--primary: #585B70; /* Crust */
--secondary: #7E825C; /* Sage */
--tertiary: #CA9EE6; /* Lavender */
--content: #4C4F69; /* Crust */
--code-block-bg: #313244; /* Surface */
--code-bg: #F4F0EC; /* Crust */
--border: #C6D0F5; /* Sky */
}

.dark {
/* Dark mode colors */
--theme: #1E1E2E; /* Mantle */
--entry: #575268; /* Crust */
--primary: #D9E0EE; /* Light crust */
--secondary: #98C377; /* Green */
--tertiary: #E5C890; /* Yellow */
--content: #D9E0EE; /* Light crust */
--code-block-bg: #313244; /* Surface */
--code-bg: #532464; /* Crust */
--border: #585B70; /* Crust */
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}