:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

/* Light mode colors */
--theme: #c1d0ed; /* Light crust */
--entry: #cfcff2; /* Manix */
--primary: #585B70; /* Crust */
--secondary: #5c6d82; /* Sage */
--tertiary: #CA9EE6; /* Lavender */
--content: #4C4F69; /* Crust */
--code-block-bg: #313244; /* Surface */
--code-bg: #eceff4; /* Crust */
--border: #C6D0F5; /* Sky */
}

.dark {
/* Dark mode colors */
--theme: #1E1E2E; /* Mantle */
--entry: #473974; /* Crust */
--primary: #D9E0EE; /* Light crust */
--secondary: #b5b8e3; /* Green */
--tertiary: #2e3793; /* Yellow */
--content: #D9E0EE; /* Light crust */
--code-block-bg: #3f3144; /* Surface */
--code-bg: #63359f; /* Crust */
--border: #585B70; /* Crust */
}

.list {
  background: var(--code-bg);
}

.dark.list {
  background: var(--theme);
}