{{ if or .Params.math .Site.Params.math }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
  crossorigin="anonymous"
/>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
  crossorigin="anonymous"
></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body);"
></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
      ],
    });
  });
</script>
{{ end }} {{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.6.1/mermaid.min.js"></script>
<script>
  // INITIALIZE MERMAID.JS
  mermaid.initialize({
    startOnLoad: true,
    theme: "dark",
    themeVariables: {
      darkMode: true,
      background: "#000000",
      primaryColor: "#FFFFFF",
      lineColor: "#FFFFFF",
      textColor: "#FFFFFF",
      nodeTextColor: "#FFFFFF",
      tertiaryColor: "#CCCCCC",
    },
    // ADDITIONAL CONFIGURATION OPTIONS AS NEEDED
    sequence: {
      showSequenceNumbers: true,
    },
    flowchart: {
      htmlLabels: true,
      curve: "basis",
    },
  });
</script>
{{ end }}
