<div style="max-width: 440px;
            margin: 2rem auto;
            padding: 1.5rem;
            border: 1px solid #e5e5e5;
            border-radius: 12px;
            text-align: center;
            background: var(--content-bg)">
    <h3 style="margin-bottom: 0.5rem">Support My Writing</h3>
    <p style="margin-bottom: 1.5rem; color: var(--secondary)">
        If my articles helped you or made your day a bit better, here’s a small way
        to support my work.
    </p>
    Scan/Tap this UPI QR: <b>sahookumarjitesh@okaxis</b>
    <div style="display: flex; justify-content: center; margin-bottom: 1.5rem">
        <a href="upi://pay?pa=sahookumarjitesh@okaxis&pn=Jitesh%20Kumar%20Sahoo&aid=uGICAgMDU1d_EWQ"
           target="_blank">
            <img src="{{ .Site.BaseURL }}images/qr_code.png"
                 alt="QR Code"
                 style="width: 240px;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        padding: 8px;
                        cursor: pointer" />
        </a>
    </div>
    OR
    <div style="width: 200px; margin: 0 auto">
        <a href="https://www.buymeacoffee.com/jitesh117">
            <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a book&emoji=📖&slug=jitesh117&button_colour=FFDD00&font_colour=000000&font_family=Poppins&coffee_colour=ffffff"
                 alt="Buy me a book"
                 style="border: none !important;
                        outline: none !important;
                        box-shadow: none !important" />
        </a>
    </div>
</div>
